<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.hai.mapper.BuildMapper">
  <resultMap id="BaseResultMap" type="com.qianfeng.hai.domain.entity.Build">
    <!--@mbg.generated-->
    <!--@Table build-->
    <id column="build_id" jdbcType="INTEGER" property="buildId" />
    <result column="build_community" jdbcType="VARCHAR" property="buildCommunity" />
    <result column="build_number" jdbcType="VARCHAR" property="buildNumber" />
    <result column="bulid_name" jdbcType="VARCHAR" property="bulidName" />
    <result column="build_home" jdbcType="INTEGER" property="buildHome" />
    <result column="build_describe" jdbcType="VARCHAR" property="buildDescribe" />
    <result column="build_create_time" jdbcType="TIMESTAMP" property="buildCreateTime" />
    <result column="build_is_delete" jdbcType="INTEGER" property="buildIsDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    build_id, build_community, build_number, bulid_name, build_home, build_describe, 
    build_create_time, build_is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from build
    where build_id = #{buildId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from build
    where build_id = #{buildId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="build_id" keyProperty="buildId" parameterType="com.qianfeng.hai.domain.entity.Build" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into build (build_community, build_number, bulid_name, 
      build_home, build_describe, build_create_time, 
      build_is_delete)
    values (#{buildCommunity,jdbcType=VARCHAR}, #{buildNumber,jdbcType=VARCHAR}, #{bulidName,jdbcType=VARCHAR}, 
      #{buildHome,jdbcType=INTEGER}, #{buildDescribe,jdbcType=VARCHAR}, #{buildCreateTime,jdbcType=TIMESTAMP}, 
      #{buildIsDelete,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="build_id" keyProperty="buildId" parameterType="com.qianfeng.hai.domain.entity.Build" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into build
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buildCommunity != null">
        build_community,
      </if>
      <if test="buildNumber != null">
        build_number,
      </if>
      <if test="bulidName != null">
        bulid_name,
      </if>
      <if test="buildHome != null">
        build_home,
      </if>
      <if test="buildDescribe != null">
        build_describe,
      </if>
      <if test="buildCreateTime != null">
        build_create_time,
      </if>
      <if test="buildIsDelete != null">
        build_is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buildCommunity != null">
        #{buildCommunity,jdbcType=VARCHAR},
      </if>
      <if test="buildNumber != null">
        #{buildNumber,jdbcType=VARCHAR},
      </if>
      <if test="bulidName != null">
        #{bulidName,jdbcType=VARCHAR},
      </if>
      <if test="buildHome != null">
        #{buildHome,jdbcType=INTEGER},
      </if>
      <if test="buildDescribe != null">
        #{buildDescribe,jdbcType=VARCHAR},
      </if>
      <if test="buildCreateTime != null">
        #{buildCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buildIsDelete != null">
        #{buildIsDelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.hai.domain.entity.Build">
    <!--@mbg.generated-->
    update build
    <set>
      <if test="buildCommunity != null">
        build_community = #{buildCommunity,jdbcType=VARCHAR},
      </if>
      <if test="buildNumber != null">
        build_number = #{buildNumber,jdbcType=VARCHAR},
      </if>
      <if test="bulidName != null">
        bulid_name = #{bulidName,jdbcType=VARCHAR},
      </if>
      <if test="buildHome != null">
        build_home = #{buildHome,jdbcType=INTEGER},
      </if>
      <if test="buildDescribe != null">
        build_describe = #{buildDescribe,jdbcType=VARCHAR},
      </if>
      <if test="buildCreateTime != null">
        build_create_time = #{buildCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="buildIsDelete != null">
        build_is_delete = #{buildIsDelete,jdbcType=INTEGER},
      </if>
    </set>
    where build_id = #{buildId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qianfeng.hai.domain.entity.Build">
    <!--@mbg.generated-->
    update build
    set build_community = #{buildCommunity,jdbcType=VARCHAR},
      build_number = #{buildNumber,jdbcType=VARCHAR},
      bulid_name = #{bulidName,jdbcType=VARCHAR},
      build_home = #{buildHome,jdbcType=INTEGER},
      build_describe = #{buildDescribe,jdbcType=VARCHAR},
      build_create_time = #{buildCreateTime,jdbcType=TIMESTAMP},
      build_is_delete = #{buildIsDelete,jdbcType=INTEGER}
    where build_id = #{buildId,jdbcType=INTEGER}
  </update>
</mapper>